---

name: demo-backend-go

services:
  backend:
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    env_file: "postgres.env"
    restart: always
    ports:
      - 8081:8080
    healthcheck:
      test: ["CMD", "/app", "healthcheck"]
    depends_on:
      db-migrate:
        condition: service_completed_successfully
      db-fill:
        condition: service_completed_successfully
  swagger:
    image: swaggerapi/swagger-ui:v5.31.0@sha256:080804ac62c9d5d358662cc6f0db96ba0be76af7af393014a1a1305d967298cc
    restart: always
    environment:
      - SWAGGER_JSON=/opt/swagger.yaml
      - VALIDATOR_URL=none
    volumes:
      - ../../api/openapi.yaml:/opt/swagger.yaml
    ports:
      - 8082:8080
    healthcheck:
      test: ["CMD", "curl", "--head", "--fail", "--user-agent", "local-healthcheck", "http://localhost:8080"]
  db:
    image: postgres:16.8-bookworm@sha256:e95b0cb95f719e0ce156c2bc5545c89fbd98a1a692845a5331ddc79ea61f1b1e
    restart: always
    env_file: "postgres.env"
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
  db-migrate:
    image: migrate/migrate:v4.19.1@sha256:cc4ad8e19d66791e3689405d9a028ce6e9614f32032db14acda1469f7201d6e4
    env_file: "postgres.env"
    entrypoint: []
    command: migrate --path=/opt/demo-backend-go/migrate --database=postgres://db:5432?sslmode=disable --verbose up
    volumes:
      - ../../database/migrate:/opt/demo-backend-go/migrate
    depends_on:
      db:
        condition: service_healthy
  db-fill:
    image: postgres:16.8-bookworm@sha256:e95b0cb95f719e0ce156c2bc5545c89fbd98a1a692845a5331ddc79ea61f1b1e
    env_file: "postgres.env"
    command: psql --host db -f /opt/demo-backend-go/db-fill.sql
    volumes:
      - ./db-fill.sql:/opt/demo-backend-go/db-fill.sql
    depends_on:
      db-migrate:
        condition: service_completed_successfully
