---

name: demo-backend-go

services:
  backend:
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    restart: always
    ports:
      - 8081:8080
    healthcheck:
      test: ["CMD", "/app", "healthcheck"]
  swagger:
    image: swaggerapi/swagger-ui:v5.20.0@sha256:4c3203471c7d06f1c4ec32110837b6d63097b3a1d0a90ffa7a7688c07773ca52
    restart: always
    environment:
      - SWAGGER_JSON=/opt/swagger.yaml
      - VALIDATOR_URL=none
    volumes:
      - ../../api/openapi.yaml:/opt/swagger.yaml
    ports:
      - 8082:8080
    healthcheck:
      test: ["CMD", "curl", "--head", "--fail", "--user-agent", "local-healthcheck", "http://localhost:8080"]
